.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card{
    width: 35%;
    height: 90px;
    background-color: peachpuff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    
  }
  
  .card:hover{
      cursor: pointer;
      box-shadow: 0px 0px 9px 2px #2B24B2;

  }
  
  .card-logo{
    width: 50px;
    height: 50px;
    transition:transform .3s ease-out;
    object-fit: cover;
  }

  .card:hover .card-logo{
      transform: scale(1.3);
  }
  
  .card-title{
    text-align: center;
    font-size: 1rem;
  }

  .list{
    text-align: left;
    font-size: 0.8rem;
    font-weight: 500;
    list-style-position: inside;
}
.list li{
    margin-left: 20px;
    list-style-position: outside;
}





















/* .container-card{
    background-color: #F48B29;
    text-align: center;
    border-radius: 10px;
}
.language{
    color: white;
}
.cards{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 height: 80vh;
}
.card-div{
    width: 120px;
    height: 70px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-div:hover{
    border: 1px solid rgb(20, 20, 184);
    box-shadow: 0 0 0.5em rgb(20, 20, 184);
}
.card-div img{
    object-fit: cover;
    height: 30px;
    width: 30px;
}
.card-div img:hover{
    transform: scale(1.5);
}
.card-div p{
    margin-top: 3px;
    font-size: 10px;
}
.card-div p li{
    font-size: 8px;
    text-align: left;
} */